.overlay {
	$block: &;
	@apply relative flex items-center justify-center p-4;

	z-index: $z-index-overlay;

	&__content {
		@apply bg-white w-full relative shadow;

		animation: showOverlayContent 0.4s forwards;
	}
}

@keyframes showOverlayContent {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes hideOverlayContent {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translateY(5px);
	}
}