<!DOCTYPE html>
<html lang="en">
	<head>

		{% include '../meta.twig' with {
			title: "Welcome to Tails Express",
			description: "",
			keywords: "",
			project_title: "",
			project_link: "",
			preview_link: "",
			image: "",
			author: ""
		} %}

		{% include '../styles.twig' %}

		{% include "../project-config.twig" %}

	</head>

	<body>

		<div class="page"> 

			{% block body %}{% endblock %}
			
		</div>

	</body>
</html>
