@mixin center($type: '') {
	position: absolute;
	@if $type=="vertical" {
		top: 50%;
		transform: translateY(-50%) translateZ(0);
	}
	@else if $type=="horizontal" {
		left: 50%;
		transform: translateX(-50%) translateZ(0);
	}
	@else {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) translateZ(0);
	}
}