//To Rem
@mixin toRem($property, $value) {
	#{$property}: calc($value / 16) + rem;
}

@mixin colors($text, $background, $border) {
	color: $text;
	background: $background;
	border: 1px solid $border;
}

$values: #ff0000, #00ff00, #0000ff;

.style {
	@include colors($values...);
}

// Containers
@each $name, $size in $breakpoints {
	.container-#{$name} {
		@apply max-w-screen-#{$name} mx-auto;
	}
}

// Transitions
@mixin transition($prop: all, $dur: $duration-sm, $timing: ease-in-out) {
	transition-property: $prop;
	transition-duration: $dur;
	transition-timing-function: $timing;
}

//// Typography
@mixin typography($size, $height: null) {
	@include toRem("font-size", $size);
	@if $height {
		line-height: calc($height / $size); // values given in px
	} @else {
		line-height: 1;
	}
}

//// Positioning
// Flex
@mixin flex($align: null, $justify: null, $direction: null) {
	display: flex;
	@if $align {
		align-items: $align;
	}

	@if $justify {
		justify-content: $justify;
	}

	@if $direction {
		flex-direction: $direction;
	}
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin breakpoint-up($breakpoint) {
	@media (min-width: map-get($breakpoints, $breakpoint)) {
		@content;
	}
}

@mixin breakpoint-down($breakpoint) {
	@media (max-width: map-get($breakpoints, $breakpoint)) {
		@content;
	}
}
