<!-- Welcome Message -->
<div class="container mx-auto h-screen flex items-center justify-center welcome">
	<div class="text-center">
		<div class="text-5xl font-bold flex items-center justify-center mb-12"><img class="mr-4" src="{{tails.assets}}/images/logo-tails.svg" alt="Tails" height="48px" width="66px">
			Welcome to Tails!</div>
		<div class="text-lg text-gray-500 mb-12">If you see this message then you've got everything up and running!
			<br>
			There's not much else to say; feel free to delete this block and start your project!</div>
		<div class="text-lg font-bold text-gray-600">Happy Coding!</div>
	</div>
</div>
