// Typography
$font-family: 'Inter', ui-sans-serif, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Colors
$dark: #102a3d;
$light: #d0d4fb;
$blue: #4656f3;
$orange: #f86734;
$navy: #073042;
$grey: #f2f2f2;
$green: #3ddc84;

$primary: $blue;

// Breakpoints
$breakpoints: (
	'sm': '640px',
	'md': '768px',
	'lg': '1024px',
	'xl': '1280px',
	'2xl': '1536px',
);

// Border Radius
$radius: 16px;

// Z-indexes
$z-index-page-dimmer: 100;
$z-index-overlay: 120;

// Transitions
$duration-sm: 150ms;
$duration: 250ms;
$duration-lg: 350ms;
$duration-xl: 500ms;

$transition: all 0.15s ease-in-out;