<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '../partials/meta.twig' with {
			title: "Welcome to Tails Express",
			description: "",
			keywords: "",
			project_title: "",
			project_link: "",
			preview_link: "",
			image: "",
			author: ""
		} %}
		{% include '../partials/styles.twig' %}
		{% include "../partials/project-config.twig" %}
	</head>
	<body>
		<div class="page">

			{% block body %}{% endblock %}

		</div>
	</body>
</html>
